/*.............. Helpers............ */
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.list-style {
    list-style-type: none;
}

.container {
    max-width: 900px;
    margin: 0 1rem;
}

.hide {
    display: none;
}

.txt-capital {
    text-transform: capitalize;
}

.pointer {
    cursor: pointer;
}

.btn {
    border-radius: 2rem;
    padding: 0.2rem;
    background-color: #ebeef3;
    outline: none;
    border: none;
    color: #000;
}

.btn:hover,
.btn:focus {
    background-color: #fefefe;
    color: #21ac91;
    transition: ease-in-out 0.2s;
}

.link-style {
    text-decoration: none;
    color: #ebeef3;
}