/*.............. Helpers............ */
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.list-style {
    list-style-type: none;
}

.container {
    max-width: 900px;
    margin: 0 1rem;
}

.hide {
    display: none;
}