@import "./helpers.css";
@import "./typography.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #22252c;
    font-family: popins-regular, sans-serif;
    color: linen;
}

img {
    width: 100%;   
}


/*................ HEADER .........................*/
header {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    padding: 1rem;
}

header .links-container {
    justify-content: space-between;
}

header .logo-container {
    max-width: 30%;
}

header ul.nav-links {
    justify-content: space-around;
}

ul.nav-links li {
    padding-inline-end: 1.5rem;
    margin-inline-end: 0.5rem;
}


ul.nav-links li a {
    padding: 0 1rem;
}

ul.nav-links li a:hover,
ul.nav-links li a:focus {
    background-color: #fefefe;
    color: #21ac91;
    border-radius: 1rem;
    transition: ease-in-out 0.2s;
}

/*.................. MAIN..............  */
/*................... GALLERY .............................. */
main {
    flex-direction: column;
    padding-block-start: 1.5rem;
}

main .content-container {
    background-color: #383b42;
    width: 100%;
    
}

.user-panel {
    justify-content: space-evenly;
    margin-block-start: 0.5rem;
}

.user-panel > * {
    border-radius: 1rem;
    padding: 0.5rem;
}

.user-panel input[name="search-bar"] {
    flex: 2;
}

.user-panel input[name="search-bar"]::after {
    content: "🔎";
}


/*............... MEME-EDITOR ................... */
.meme-editor {
    width: 100%;
    justify-content: space-around;
}

/* .canvas-container {
    flex: 2;
} */

.edit-panel {
    background-color: #19a59f;
    border: 2px solid;
    flex-direction: column;
    padding: 0.5rem;
}

.edit-panel > *:not(:first-child) {
    margin-block-start: 1rem;
}

.edit-panel input[name="font-size"],
.edit-panel label[for="color-picker"] {
    align-self: center;
    
}

.edit-panel input[name="write-meme"] {
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    outline: none;
    border: none;
}

/*........................... FOOTER ....................... */
footer {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    padding: 1rem;
    margin-block-start: 1rem;
}

@media screen and (min-width: 600px) {


}