@import "./helpers.css";
@import "./typography.css";
@import "./header.css";
@import "./gallery.css";
@import "./footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #22252c;
    font-family: popins-regular, sans-serif;
    color: linen;
}

img {
    width: 100%;
}

.overlay-filter {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

/*.................. MAIN..............  */
main {
    flex-direction: column;
    padding-block-start: 1.5rem;
}

main .content-container {
    background-color: #383b42;
    width: 100%;
    flex-direction: column;
}

.key-words {
    flex: 1;
    font-size: 1rem;
    align-self: center;
}
/*............... MEME-EDITOR ................... */
.meme-editor {
    width: 100%;
    justify-content: space-around;
}

.edit-panel {
    background-color: #19a59f;
    border: 2px solid;
    flex-direction: column;
    padding: 0.5rem;
    margin-inline-start: 0.5rem;
}

.edit-panel>*:not(:first-child) {
    margin-block-start: 1rem;
}

.edit-panel input[name="font-size"],
.edit-panel label[for="color-picker"] {
    align-self: center;

}

.edit-panel input[name="write-meme"] {
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    outline: none;
    border: none;
}

.uesr-save-tab {
    margin-block-start: 1rem;
    padding: 1rem;
    flex-direction: column;
    width: 100%;
}

.uesr-save-tab .close-tab{
    padding: 0 1rem;
}

/*...................... SMALL SCREEN ....................... */
@media screen and (max-width: 660px) {

    header nav.links-container ul {
        display: none;
    }

    header nav.links-container .hamburger-menu {
        display: block;
    }

    .drop-down-menu {
        position: fixed;
        height: 100vh;
        left: 100%;
        top: 8%;
        width: 70%;
        animation: right-to-left 1s ease-in forwards;
    }
    
    .drop-down-menu .nav-links {
        flex-direction: column;
        margin-block-start: 1rem;
        height: 20%;
        width: 100%;
    }
    
    .drop-down-menu .nav-links li {
        margin-block-start: 1rem;
        background: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .hamburger-menu {
        display: flex;
    }

    .meme-editor {
        flex-direction: column;
        align-items: center;
    }

    .edit-panel {
        align-items: baseline;
        margin-inline-start: 0.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .edit-panel>* {
        padding: 0.5rem;
    }

    @keyframes right-to-left {
        100%{
            left: 30%;
        }
    }

}